/* .App {
  text-align: center;
} */
body {
  background-color:#f0f1ec;
}


.App-header {
  min-height: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: rgb(0, 0, 0);
}

.mainForm{

  max-width: 600px;
  margin: 20px auto;
  padding: 20px ;
  border: 1px solid #ccc;
  border-radius: 5px;
}